@tailwind base;
@tailwind components;
@tailwind utilities;

* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}

html,
body {
  max-width: 100vw;
  overflow-x: hidden;
}

body {
  line-height: 1.5;
  min-height: 100vh;
  scroll-behavior: smooth;
  text-rendering: optimizeSpeed;
}

img {
  max-width: 100%;
  display: block;
}

ul,
ol {
  list-style: none;
}

input,
button,
textarea,
select {
  font: inherit;
}

a {
  color: inherit;
  text-decoration: none;

  &:not([class]) {
    text-decoration-skip-ink: auto;
    color: #448aff;
  }
}

button {
  background-color: transparent;
  border: none;

  &:hover {
    cursor: pointer;
  }
}

@media (prefers-reduced-motion: reduce) {
  * {
    animation-iteration-count: 1 !important;
    transition-duration: 0.01ms !important;
    animation-duration: 0.01ms !important;
    scroll-behavior: auto !important;
  }
}

@keyframes load {
  from {
    transform: translateX(-45px);
  }

  to {
    transform: translateX(100%);
  }
}
