@mixin hidden {
  opacity: 0;
  visibility: hidden;
}

@mixin visible {
  opacity: 1;
  visibility: visible;
}

@mixin d-flex($x: center, $y: center) {
  display: flex;
  align-items: $x;
  justify-content: $y;
}
