@mixin scroll($color: $white, $background: $white-transparent) {
  &::-webkit-scrollbar {
    width: 4px;
    border-radius: 2px;
    background: $background;
  }

  &::-webkit-scrollbar-thumb {
    background-color: $color;
    border-radius: 2px;
    outline: none;
    border: 0;
  }

  &::-webkit-scrollbar-button {
    display: none;
  }
}
